<!DOCTYPE html>
<html>
<head>
  <title>PostsUpvotes</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="myAngularApp">
  <ui-view></ui-view>

    Hello!
  <script type="text/ng-template" id="/main.html">
    <ul ng-repeat="post in posts">
      <li>
        <span ng-click="voteUp(post)">(click to vote)</span>
        <strong>{{ post.title }}</strong> {{ post.votes }} votes
      </li>
    </ul>
    <form ng-submit="addPost()">
      <input type="text" ng-model="title"></input>
      <button type="submit">Post</button>
    </form>
  </script>
</body>
</html>
